@import url('https://fonts.googleapis.com/css2?family=Inter&family=Poppins:ital,wght@1,200&family=Quicksand:wght@300&family=Roboto:ital,wght@1,100&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
.navigation-bar{
    display: flex;
    justify-content: center;
    background-color: #1f2937;
}
nav{
    display: flex;
    width: 60%;
    justify-content: space-between;
    align-items: center;
}
ul{
    display: flex;
    list-style-type: none;
}
li{
    margin-left: 20px;
    font-size: 18px;
    color: #e5e7eb; 
}
button{
    background-color: #3882f6;
    color: #e5e7eb;
    padding: 5px 25px;
    font-size: 18px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border: none;
    border-radius: 5px;
    text-align: center;
    font-weight: bold;
    margin-top: 25px;
}
p{
    font-size: 18px;
    color: #e5e7eb;
}
#logo{
    font-size: 24px;
    color: #f9faf8;
}
.hero-section{
    display: flex;
    width: 60%;
    justify-content: space-between;
    margin: 20px auto;
    background-color: #1f2937;
    padding: 60px 0px;
}
h1{
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
    line-height: 50px;
}
.content{
    background-color: #1f2937;
    /*border:1px solid #1f2937;*/
}
.header{
    background-color: #1f2937;
}
#random-information{
    color: #1f2937;
    font-size: 36px;
    font-weight: bolder;
    text-align: center;
}
img{
    height: 100%;
    width: 400px;
    margin-left: 60px;
}   
.elemecske{
    width: 150px;
    height: 150px;
    border: 3px solid rgb(44, 99, 118);
    border-radius: 15px; 
}
.blocks{
    display: flex;
    justify-content: center;
}
.elem{
    width: 150px;
    text-align: center;
    margin: 20px;
    color: #1f2937;
}
.elem>p{
    color: #1f2937;
}
.quote{
    width: 55%;
    margin: 0 auto;
}
h3{
    float: right;
}
.quote>p{
    color: #1f2937;
    text-align: left;
    font-size: 28px; 
}
.quote-section{
    background-color: rgb(229, 231, 235);
    padding: 40px 80px;
}
.footer{
    background-color: #3882f6;
    width: 1;
    display: flex;
    justify-content: space-around;
    margin: 40px auto;
    padding: 3rem 0;
    align-items: center;
    border-radius: 8px;
}
.footer-right>button{
    border: 2.5px solid white;
    font-size: smaller;   
}
.footer-section{
    width: 60%;
    margin: 0 auto;  
}
h4{
    color: white;
    font-size: 1.5rem;
    line-height: 30px;
}